*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1{
    text-align: center;
    color:forestgreen;
}
.items{
    width:180px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
}
.read-more{
  margin-top: 20px;
  display: none;
}
.read-more a{
    display: inline-block;
    color:white;
    padding:10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    margin-left:100px;
}
.gallery{
    box-sizing: border-box;
  margin:50px auto 0px auto;
    width:70%;
    max-width: 1000px;
    overflow: hidden;
}
.gallery img{
    width:180px;
    height:150px;
    padding:5px;
    filter: grayscale(100%);
    transition: 1s;
    cursor: pointer;
    background-size: cover;
}
.gallery img:hover{
  filter: grayscale(0);
  transform:scale(1.1);
}
.lb-container img{
    width:500px !important;
    height:400px !important;
}
.lb-image{
    width:100%;
    height:100%;
}
.lb-nav{
    width:500px;
    overflow: hidden;
}
  
@media screen and (max-width:786px){
.gallery{
    width:80%;
    margin-left: 100px;
   }
}
@media screen and (max-width:480px){
    .lb-container img{
        width:300px !important;
        height:300px !important;
    }
    .lb-image{
        width:100%;
        height:100%;
    }
    .lb-nav{
        width:300px;
        overflow: hidden;
    }
    .items{
        display: none;
    }
    .read-more{
        display:block;
      }
}